<div class="bubble">
  <p>
    <%= image_tag(message.user.profile_picture, class: "userimg") if message.user.profile_picture.attached?%>
    <%= message.user.first_name.capitalize %>: <%=message.content%> <br>
  <span>  Sent: <%= message.created_at.strftime('%b %d, %C%y %r') %></span> </p>
</div>
