<style media="screen">

.sign-page {
  display: grid;
  width: 100%;
  position: fixed;
  padding-top: 8%;
  grid-template: 600px / 470px;
  justify-content: center;
}

.sign-grid {
  display: block;
  background-color: rgb(255,255,255);
  color: #af96cf;
  width: 100%;
  box-shadow: 3px 3px 3px 3px rgba(0,0,0,.3);
  border-radius: 20px;
}

.sign-grid h1 {
  text-transform: uppercase;
  font-size: 3.5em;
}

.sign-grid a {
  text-decoration: none;
  color: #87b8bd;
}

.sign-grid a:hover {
  border-bottom: 1px dashed #87b8bd;
}

#login {
  padding-top: 15%;
}

.sign-grid input[type=text], input[type=email], input[type=password], select{
  width: 70%;
  background: transparent;
  border: none;
  border-bottom: 1px dashed #87b8bd;
  outline: none;
  padding: 5px;
  font-style: italic;
  font-size: 1em;
}

.sign-grid input[type=submit] {
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: #af96cf;
  border: 2px solid #af96cf;
  padding: 10px 30px;
  font-size: 1.1em;
  transition: color 0.5s;
  text-transform: uppercase;
}

.sign-grid input[type=submit]:hover {
  background-color: #af96cf;
  color: #ffffff;
}
</style>

<body id="homebg">
  <div class="sign-page center">
    <div class="sign-grid">
      <h1 id="login">Sign In</h1>

      <%= form_for(:session, url: login_path) do |f| %>
      <p>
        <%= f.email_field :email, placeholder: "Email" %>
      </p>
      <p>
        <%= f.password_field :password, placeholder: "Password" %>
      </p> <br>
      <p>
        <%= f.submit 'Enter', class: "btn btn-sign" %>
      </p> <br> <br>
      <% end %>
      <a href="/signup">Don't have an account</a>
    </div>
  </div>
</body>
