<h1>My Blogs</h1>
<%if @user_blogs.empty?%>
  <h1>You haven't created a blog yet</h1>
  <%= link_to 'Create Blog',  new_blog_path%> <br>
<%else%>
  <%@user_blogs.reverse.each do |blog| %>
  <p>
    <a href="<%=blog_path(blog.id)%>"><%=blog.title%></a> by: <%=blog.user.first_name.capitalize%>
  </p>
  <%end%>
<%end%>
