<div id="messages">
  <h3 class="center">Chatting with <%=link_to "#{@other_user.first_name.capitalize}", user_path(@other_user.id) %></h3>
  <% if @chat.messages.any? %>
    <%= render partial: 'messages/message', collection: @chat.messages.order(id: :asc)%>
  <%end%>
  <%= render partial: 'messages/message_form', locals: {message: @message, chat: @chat}%>
</div>

<script>
  createMessageChannel();
  messageForm();
</script>
