/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 /* font-family: 'Courgette', cursive;
 font-family: 'Montserrat', sans-serif; */

@import url('https://fonts.googleapis.com/css?family=Courgette|Montserrat');
@import url('https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css');

body {
  margin: 0;
  height: 100%;
  width: 100%;
  font-family: 'Montserrat', sans-serif;
  background-color: #cfcfcf;
}
#homebg {
  background-image: url("/assets/purplebg.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
}

.hidden {
  display: none;
}

.center {
  justify-content: center;
  text-align: center;
}

.home {
  width: 100%;
  height: 100%;
  padding-top: 4%;
  bottom: 10%;
}

.home h1 {
  font-family: 'Courgette', cursive;
  font-size: 4.5em;
  color: #e5efee;
}

.home h2 {
  font-family: 'Courgette', cursive;
  font-size: 2.5em;
  color: #e5efee;
}

.flower {
  width: 500px;
  height: auto;
  animation: rotate 10s infinite linear;
}

.sign-page {
  display: grid;
  width: 100%;
  position: fixed;
  padding-top: 8%;
  grid-template: 600px / 470px;
  justify-content: center;
}

.sign-grid {
  display: block;
  background-color: rgb(255,255,255);
  color: #af96cf;
  width: 100%;
  box-shadow: 3px 3px 3px 3px rgba(0,0,0,.3);
  border-radius: 20px;
}

.sign-grid h1 {
  text-transform: uppercase;
  font-size: 3.5em;
}

.sign-grid a {
  text-decoration: none;
  color: #87b8bd;
}

.sign-grid a:hover {
  border-bottom: 1px dashed #87b8bd;
}

#login {
  padding-top: 15%;
}

.sign-grid input[type=text], input[type=email], input[type=password], select{
  width: 70%;
  background: transparent;
	border: none;
	border-bottom: 1px dashed #87b8bd;
	outline: none;
	padding: 5px;
  font-style: italic;
  font-size: 1em;
}

.sign-grid input[type=submit] {
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: #af96cf;
  border: 2px solid #af96cf;
  padding: 10px 30px;
  font-size: 1.1em;
  transition: color 0.5s;
  text-transform: uppercase;
}

.sign-grid input[type=submit]:hover {
  background-color: #af96cf;
  color: #ffffff;
}
/************************NAV BAR************************/
.fa {
  position: relative;
  display: table-cell;
  width: 75px;
  height: 36px;
  text-align: center;
  vertical-align: middle;
  font-size: 2em;
  left: 10px;
}

.menu {
  background-color: #7fccc4;
  border-right: 1px solid #7fccc4;
  top: 0;
  bottom: 0;
  height: 100%;
  left: 0;
  width: 70px;
  overflow: hidden;
  -webkit-transition: width .05s linear;
  transition: width .05s linear;
  -webkit-transform: translateZ(0) scale(1,1);
  position: fixed;
  z-index: 1;
}

.menu>ul {
  margin: 15px 0;
}

.menu li {
  position: relative;
  display: block;
  width: 215px;
}

.menu li>a, li>p {
  position: relative;
  display: table;
  border-collapse: collapse;
  border-spacing: 0;
  color: #fbfbfb;
  font-size: 1.2em;
  text-decoration: none;
  -webkit-transform: translateZ(0) scale(1,1);
  -webkit-transition: all .1s linear;
  transition: all .1s linear;

}

.menu .nav-icon {
  position: relative;
  display: table-cell;
  width: 70px;
  height: 36px;
  text-align: center;
  vertical-align: middle;
}

.menu .nav-text {
  position: relative;
  display: table-cell;
  vertical-align: middle;
  width: 215px;
  left: 15px;
}

.menu>ul.logout {
  position: absolute;
  left: 0;
  bottom: 0;
}

.menu:hover,nav.menu.expanded {
  width: 215px;
  overflow: visible;
  background-color: rgba(127, 204, 196, .9);
}

.no-touch .scrollable.hover {
  overflow-y: hidden;
}

.no-touch .scrollable.hover:hover {
  overflow-y: auto;
  overflow: visible;
}

a:hover,a:focus {
  text-decoration: none;
}

nav {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

nav ul,nav li {
  outline: 0;
  margin: 0;
  padding: 0;
}

.menu li:hover>a,nav.menu li.active>a,.dropdown-menu>li>a:hover,.dropdown-menu>li>a:focus,.dropdown-menu>.active>a,.dropdown-menu>.active>a:hover,.dropdown-menu>.active>a:focus,.no-touch ul li.active a {
  color: #63aba3;
}
/**********************DASHBOARD*************************/
.homepage {
  display: grid;
  width: 70%;
  padding-left: 18%;
  padding-right: 12%;
  padding-top: 7%;
  position: absolute;
}

.homepage-grid {
  display: inline-grid;
  width: 100%;
  grid-template: 300px 300px / 50% 50%;
  grid-gap: 2.5%;
  justify-content: center;
}
.homepage-grid a {
  text-decoration: none;
  color: inherit;
}
.homepage-grid a:hover {
  color: #277068;
}
.homepage-grid div:nth-child(1) {
  padding-top: 10%;
  background-color: #e6e6e6;
  color: #1a1e1d;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
}
.homepage-grid div:nth-child(2) {
  padding-top: 10%;
  background-color: #7fccc4;
  color: #ffffff;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
}
.homepage-grid div:nth-child(3) {
  padding-top: 10%;
  background-color: #1a1e1d;
  color: #7fccc4;
  border-top-right-radius: 50px;
  border-bottom-left-radius: 50px;
}
.homepage-grid div:nth-child(4) {
  padding-top: 10%;
  background-color: #ffffff;
  color: #1a1e1d;
  border-top-left-radius: 50px;
  border-bottom-right-radius: 50px;
}
/*********************EDIT FORMS************************/
.edit-page {
  display: grid;
  width: 100%;
  position: fixed;
  padding-top: 8%;
  grid-template: auto / 470px;
  justify-content: center;
}

.edit-grid {
  display: block;
  background-color: rgb(255,255,255);
  color: #7fccc4;
  width: 100%;
  box-shadow: 3px 3px 3px 3px rgba(0,0,0,.3);
  border-radius: 20px;
}

.edit-grid h1 {
  text-transform: uppercase;
  font-size: 1.7em;
}

.edit-grid a {
  text-decoration: none;
  color: #87b8bd;
}

.edit-grid a:hover {
  border-bottom: 1px dashed #87b8bd;
}

.edit-grid input[type=text], textarea, input[type=email], input[type=password], select{
  width: 70%;
  background: transparent;
	border: none;
	border: 1px dashed #87b8bd;
	outline: none;
	padding: 5px;
  font-style: italic;
  font-size: 1em;
}

.edit-grid input[type=submit] {
  display: inline-block;
  position: relative;
  text-decoration: none;
  color: #7fccc4;
  border: 2px solid #7fccc4;
  padding: 10px 30px;
  font-size: 1.1em;
  transition: color 0.5s;
  text-transform: uppercase;
}

.edit-grid input[type=submit]:hover {
  background-color: #7fccc4;
  color: #ffffff;
}
/*********************ANIMATIONS************************/
.bounce-enter-active {
  animation: bounce-in 1s;
}

.bounce-leave-active {
  animation: bounce-in .01s reverse;
}

.fade-in {
  animation: fadein 1s linear;
}

.fade-out {
  animation: fadeout 1s linear;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  from {
    transform: rotate(359deg);
  }
}

@keyframes bounce-in {
  0% {
    transform: scale(0);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  50% {
    opacity: .5;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeout {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/*********************BUTTONS************************/
.btn{
  display: inline-block;
  position: relative;
  padding: 10px 20px;
  text-decoration: none;
}

.btn-sign {
  color: #e5efee;
  border: 2px solid #e5efee;
  font-size: 1.1em;
  transition: color 0.4s;
  text-transform: uppercase;
}

.btn-sign:after {
  content: "";
  border: 2px solid rgba(0,0,0,0);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  transition: all 0.4s;
}

.btn-sign:hover {
  color: #e5efee;
}

.btn-sign:hover:after {
  border:2px solid #e5efee;
  width: calc(100% - 10px);
  height: calc(100% + 10px);
}

.btn-primary {
  color: #ffffff !important;
  background-color: #7fccc4;
  font-size: 1.1em;
  border-radius: 10px;
  transition: color 0.4s;
}

.btn-primary:hover {
  color: #ffffff;
  background-color: #63aba3;
}
/*********************FLASH MESSAGES************************/
.alert {
  color: #ffffff;
  font-size: 1em;
  padding-top: 15px;
  padding-bottom: 15px;
  width: 100%;
}

.alert-success {
  background-color: #87b8bd;
}

.alert-notice {
  background-color: #ac97cf;
}

.alert-error {
  background-color: #ff3556;
}
