// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.userpage {
  display: inline-grid;
  width: 96%;
  height: 100%;
  padding-left: 4%;
  padding-bottom: 7%;
}

.user-grid {
  display: grid;
  grid-template: 50% 50% / 100%;
  width: 100%;
  height: 100%;
  justify-content: center;
}

.coverimg {
  overflow: hidden;
  height: 450px;
}

.coverdefault {
  overflow: hidden;
  height: 450px;
}

.coverdefault img{
  display: block;
  background-position: center;
  width: 100%;
}

.coverimg img{
  display: block;
  background-position: center;
  width: 100%;
}

.profile{
  display: inline-grid;
  width: 60%;
  padding-left: 15%;
  padding-right: 25%;
  grid-template-columns: 40% 60%;
  grid-column-gap: 5%;
}

.profile div:nth-child(1) {
  overflow: hidden;
  width: 100%;
  border: 10px solid #ffffff;
  height: 350px;
}

.profile div:nth-child(1) img {
  background-position: center;
  background-repeat: no-repeat;
}

.profiledefault{
  width: 350px;
}

.profiledefault img {
  background-size: cover;
  background-repeat: no-repeat;
}

.profile div:nth-child(2) {
  padding-top: 8%;
}

.bloggrid {
  display: grid;
  grid-template: 100% / repeat(3, 33%);
  width: 80%;
  height: 100%;
  padding-left: 10%;
  padding-right: 10%;
  justify-content: center;
  grid-gap: 2%;
}


.icon{
  height: 38px;
}

.blog-icon img{
  height: 30px;
  width: 30px;
}

.icon .tooltiptext {
  visibility: hidden;
  background-color: #414141;
  color: #ffffff;
  text-align: center;
  border-radius: 6px;
  padding: 1% 1%;
  position: absolute;
  z-index: 1;
  margin-top: -25px;
  font-size: .7em;
}

.icon:hover .tooltiptext {
  visibility: visible;
}
